.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart1 {
  margin-left: 20%;
  margin-top: 1%;
}

.chart2 {
  margin-left: 25%;
}
select {
  margin: 20px;
}

.first {
  color: blue;
}

.second {
  color: red;
}
